.mutual-friends img{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: -10px;
}

.mutual-friends {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  #category-selector {
    margin-bottom: 2rem;
  }

  .friend-card {
    width: 250px;
    margin: auto !important;
  }

  .friend-card img {
    width: 50px !important;
    margin: 0 auto !important;
    border-radius: 50% !important;
    margin-top: 10px !important;
    margin-left: 16px !important;
  }

  .friend-card .friend-req-buttons {
    margin-top: 10px !important;
  }
}